* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1024px;
  margin: auto;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #212529;
  background-color: #edeef0;
}

a {
  text-decoration: none;
  color: #007bff;
}

.header, .footer {
  padding: 12px 0;
  text-align: center;
  color: #fff;
  background-color: #24292e;
}

.logo {
  padding: 12px 0;
  text-align: center;
  background-color: #4872a3;
}

.resume {
  padding: 12px 24px;
  text-align: left;
  background-color: #fff;
}
